healthy recipe トップページ

<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<% else %>
  <%= link_to "ログイン", new_user_session_path, class: "login" %>
  <%= link_to "新規登録", new_user_registration_path, class: "sing-up" %>
<% end %>

<h1>レシピ一覧</h1>
<%= link_to "投稿する", new_recipe_path, class:"post" %>

<div class="contents row">
  <% @recipes.each do |recipe| %>
    <%# <div class="content_post" style="background-image: url(<%= recipe.image %>);"> %>
    <div class="recipe">
      <div class="recipe-title">
        <%= recipe.title %>
      </div>
      <div class="recipe-explanation">
        <%= recipe.explanation %>
      </div>
      <div class="recipe-time-required">
        <%= recipe.time_required.name %>
      </div>
      <div class="recipe-number-of-people">
        <%= recipe.number_of_people.name %>
      </div>
      <div class="recipe-category">
        <%= recipe.category.name %>
      </div>
    </div>
  <% end %>
</div>