<%= render "shared/header" %>

<div class="main">

  <div class="main-top">
    <%= image_tag '23128958_s.jpg', class: 'top-image'%>
    <div class="main-text">
      <p>毎日元気に過ごしたいあなたに！<br>
      なんだか最近疲れやすい、肌の悩みが増えてきた、<br>
      そんな時こそまずは食生活の見直しを。<br>
      健康的な料理レシピを簡単に検索・共有・投稿できるレシピサイトです。
      </p>
    </div>
  </div>
  <div class="main-btm">
  <%= link_to "投稿する", new_recipe_path, class:"post" %>
  <%= link_to 'カテゴリー検索', category_recipes_path, class:"search-btm" %>
  </div>

  <h2>レシピ一覧</h2>
  <div class="contents-row">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <%= image_tag recipe.image.variant(resize: '350x350'), class: 'recipe-image' if recipe.image.attached? %>
        <div class="recipe-title">
          <%= recipe.title %>
        </div>
        <div class="recipe-category">
          <%= recipe.category.name %>
        </div>
        <%= link_to 'レシピ詳細', recipe_path(recipe.id), method: :get %>
      </div>
    <% end %>
  </div>
</div>