<%= render "shared/header" %>

<div class="recipe-show">
  <div class="recipe-box">
    <h1 class="recipe-name">
      <%= @recipe.title %>
    </h1>

    <div class="recipe-username">
      投稿者：<%= @recipe.user.nickname %>
    </div>

    <div class="signedin-user-menu">
      <% if user_signed_in? %>
        <% if current_user == @recipe.user %>
          <%= link_to "レシピ編集", edit_recipe_path(@recipe.id), method: :get, class: "recipe-edit" %>
          <%= link_to "レシピ削除", recipe_path(@recipe.id), method: :delete, class:"recipe-destroy" %>
        <% end %>
      <% end %>
    </div>

    <div class="recipe-img-content">
      <%= image_tag @recipe.image ,class:"recipe-box-img" %>
    </div>
    
    <div class="recipe-show-box">
      <table class="detail-table">
        <tbody>
           <tr>
            <th class="detail-item">材料</th>
            <td class="detail-value item-ingredient"><%= @recipe.ingredient %></td>
          </tr>
           <tr>
            <th class="detail-item">調理方法</th>
            <td class="detail-value recipe-explanation"><%= @recipe.explanation %></td>
          </tr>
          <tr>
            <th class="detail-item">調理時間</th>
            <td class="detail-value"><%= @recipe.time_required.name %></td>
          </tr>
          <tr>
            <th class="detail-item">何人分</th>
            <td class="detail-value"><%= @recipe.number_of_people.name %></td>
          </tr>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @recipe.category.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to "トップページに戻る", root_path, class:"recipe-top"%>
</div>

<%= render "shared/footer"%>